<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="zh-TW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>戴岑伃簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
	</style>
	
	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/mountain.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "/static/cliff.jpg";
  			document.getElementById("h2text").innerText = "Tzyy-Ching Yang";
		}
	</script>

</head>
<body>
	<table width="70%">
		<tr>
			<td><img src="/static/cliff.jpg" width="110%"id="pic" onmouseover="change1()" onmouseout="change2()""></img></td>
			<td>
				<h1>戴岑伃</h1>
				<h2 id="h2text">TAI CEN-YU</h2>
			</td>
		</tr>		
	</table>
	<table border="1" width="70%">
		<tr>
			<td>
				個人網頁：<a href="https://www1.pu.edu.tw/~tcyang">https://www1.pu.edu.tw/~tcyang</a><br>
				IG：<a href="https://www.instagram.com/_yuuu_0731?igsh=cTFyMzJmN2kxYXly&utm_source=qr"target="_blank">https://www.instagram.com/_yuuu_0731?igsh=cTFyMzJmN2kxYXly&utm_source=qr</a><br>
				Tel: <a href="tel:0426328001,18110">04-26328001#18110</a><br>
				E-Mail: : <a href="mailto:s1121429@o365st.pu.edu.tw">s1121429@o365st.pu.edu.tw</a><br>
			</td>

			<td>
				大象席地而坐電影配樂<br>
				<audio controls>
				<source src="/static/elephant.mp3" type="audio/mP3">
				</audio><br>
			</td>

			<td>
				不要去臺灣<br>
				<iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>
			</td>
		</tr>
		<tr>
			<td>
				<iframe
   				allow="microphone;"
   				width="350"
    			height="430"
    			src="https://console.dialogflow.com/api-client/demo/embedded/9252a7e4-862d-4b7f-be3a-174d789dda03">
				</iframe>
			</td>
		</tr>
	</table>		

</body>
</html>